.all{
    border: 1px solid rgb(15, 163, 221);
    display:inline-block;
    border-width: 2px;
    height: 300px;
}
.btn{
    background-color: rgba(218, 40, 203, 0.911);
    // border-radius: 6px;
    width:90px;
    border-width: 0px;
    border-radius: 4px;
}